:root{
    --color-oscuro: #0D030F;
    --color-medio: #1e0724;
    --color-claro: #2d044a;
    --color-dorado: #e0b973;
    --color-gris-azulado: #aab7c4;
    --color-lila-pastel: #f3e5f5;
}

.svgBottom{
    position:absolute;
    bottom: -1px;
    left: 0;
    
}

.svgTop{
    position: absolute;
    top: 0;
    left: 0;
}

*{
    font-family: 'Asimilates';
}

html, body{
    margin: 0;
    padding: 0;
    background-color: var(--color-medio);
}

/* importando una fuente uwu */
@font-face {
    font-family: 'Asimilates';
    src: url('Assets/asimilates-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.portada{
    display: none;

    height: 100vh;
    position: relative;
}

.portada.show{
    display: block;

}


.menuBtn{
    display: none;
}


.portada > div{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url("Assets/portadaNobedSQ.avif") no-repeat center/cover;
    background-position-y: 60%;
    z-index: 0;
}

.portada > div .contenedorTit{
    position: absolute;
    top: 30%;
    width: 100vw;
    padding: 0%;
}

.contenedorTit > p {
    color: white;
    z-index: 1;
    text-align: center;
    width: 100%;
    text-shadow: 0px 7px 20px black;

    font-family: 'Asimilates';
}

.contenedorTit .titulo{
    position: absolute;
    top: 0%;
    font-size: 5em;

    transform: translateY(-150%);
}


.contenedorTit .nombrecito{
    position: absolute;
    font-size: 1.5em;
    letter-spacing: 0.7vw;

    transform: translateY(50%);
}

header{
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: var(--color-oscuro);
    /* background-color: rgba(5, 0, 15, 0.658); */
    height: 100px;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    z-index: 1;
}

header .indice{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    display: none;
}

.miniLogo{
    position: absolute;
    bottom: 8vh;
    left: 10vh;
    max-height: 10vw;
    z-index: 1;
    filter: drop-shadow(-10px 5px 10px black);
}

.portada .infoPro{
    border-radius: 5px;
    padding-right: 20px;
    border-right: 5px solid rgb(195, 188, 209);

    position: absolute;
    color: white;
    z-index: 1;

    font-size: 3vw;
    right: 6vw;
    bottom: 6vh;
    text-shadow: 10px 8px 10px black;
}

.categorias > li{
    padding: 0;
    margin: 0;
    height: 100%;
}

.categorias > li > button{
    padding: 0;
    margin: 0;
    width: calc(100vw/6);
    height: 100%;

    color: white;
    font-family: 'Asimilates';
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 1.5em;
    transition: font-size 0.3s, color 0.3s;
}

.categorias > li > button:hover{
    font-size: 1.7em;
    color: darkgray;
}

.categorias{
    padding: 0;
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 100%;

}

/* sobre mi */

.sobreMi{
    display: none; 
}

.sobreMi.show{
    display: flex;
    flex-direction: column;
    position: relative;
}

.sobreMi .bio{
    padding: 5%;
    display: flex;
    min-height: 100%;
    background: rgb(30,7,36);
    background: linear-gradient(180deg, rgba(30,7,36,1) 90%, rgba(45,4,74,1) 95%);  
    /* background-color: var(--color-medio); */
    padding-top: 150px;
    flex-direction: row;
    padding-bottom: 0;
    position: relative;
}

.bio .contenido{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: calc((100% / 4)*2.5);
    /* background-color: rgb(28, 3, 44); */
    color: white;
    /* border-radius: 10px;
    border: 2px solid rgb(104, 15, 163); */
}

.contenido .titBio{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    min-height: 10%;
    width: 100%;
    
}

.titBio > p{
    font-family: 'Asimilates';
    font-size: 3em;
    margin: 0;
    width: 100%;
    text-align: center;
    filter: drop-shadow(0px 8px 4px black);
}

.contenido .etapaCon{
    overflow: auto;
    padding: 3%;
    height: 50vh;
}

.etapaCon > p{
    text-align: justify;
    font-size: 1.5em;
    margin: 0;
    max-height: 100%;
    filter: drop-shadow(0px 8px 4px black);
}

/* Cambiar el tamaño de la barra de desplazamiento */
.contenido .etapaCon::-webkit-scrollbar {
    width: 10px; /* Ancho para barra vertical */
    height: 10px; /* Alto para barra horizontal */
  }
  
  /* Estilo de la pista (la parte de fondo de la barra) */
  .contenido .etapaCon::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  
  /* Estilo del "thumb" (la parte que puedes arrastrar) */
  .contenido .etapaCon::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }
  
  /* Estilo de la "thumb" cuando está en hover */
  .contenido .etapaCon::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

.bio .botoAccion{
    width: 30%;
    margin: 6%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.botoAccion > button{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 10em;
    font-family: 'Courier New', Courier, monospace;
    height: 40%;
    justify-content: center;
    outline-style: none;
    border-style: none;
    background-color: transparent;
    color: white;
    filter: drop-shadow(0px 5px 4px black);
}
.botoAccion > button:hover{
    color: rgba(255, 255, 255, 0.5);
}

.botoAccion .BioButt1{
    height: 40%;
}
.botoAccion .BioButt2{
    /* margin-top: 20%; */
    transform: rotate(180deg);
}

.sobreMi .perso{
    display: flex;
    padding: 10%;
    padding-top: 0;
    /* height: 100vh; */
    /* background-color: var(--color-oscuro); */
    background: rgb(13,3,15);
    background: linear-gradient(180deg, rgba(13,3,15,1) 0%, rgba(45,4,74,1) 100%);
}

.perso .contPers{
    display: flex;
    flex-direction: row;
}

.contPers .titPe{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

.titPe > p{
    border-right: 2px solid white;
    padding-right: 7%;
    filter: drop-shadow(2px 5px 5px black);
    font-family: 'Asimilates';
    font-size: 3em;
    width: 100%;
    text-align: center;
    color: white;
    /* transform: translateY(-50%); */
    /* background-color: blueviolet; */
}

.contPers .pers{
    padding: 5%;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
}

.pers > p{
    filter: drop-shadow(2px 5px 5px black);
    font-family: 'Asimilates';
    color: white;
    font-size: 1.5vw;
    text-align: justify;
}

.sobreMi .acros{
    display: flex;
    flex-direction: row;
    padding: 5%;
    justify-content: center;
    background-color: orange;
    text-align: center;

    
    /* position: relative; */
}

.acros .lNom{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1%;
}

.lNom > h1{
    font-size: 6em;
    margin-bottom: 0;
}

.lNom .wrd{
    display: flex;
    flex-direction: row;
}

.wrd > p{
    text-align: left;
    writing-mode: vertical-rl; /*coloca el texto en vertical (como si lo rotara -90 grados)*/
    text-orientation: upright; /*gira las letras para que esten en la posicion natural vertical*/
    font-size: 1.3em;
}




/* sobre mi */
/* metas */
.metas{
    display: none; 
}

.metas.show{
    display: flex;
    flex-direction: column;
    position: relative;
}

.metas .met{
    background-color: pink;
    padding: 10%;
    padding-top: 115px;
}

.met .metTit{
    width: 100%;
    background-color: orange;
    padding: 1%;
}

.metTit > h1{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}

.met .conMet{
    padding: 1%;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: blue;
}
.conMet .secMet{
    background-color: black;
    padding: 1%;
    text-align: center;
}

.secMet > p{
    font-size: 1.3em;
}

.metas .visMis{
    padding: 5%;
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    height: 100%;
}


.visMis .VMC{
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-bottom: 10%;
}

.VMC > h1{
    font-size: 2em;
    text-align: center;
}

.VMC > p{
    font-size: 1.2em;
}


/* metas */
/* pilares */
.pilares{
    display: none; 
}

.pilares.show{
    display: flex;
    flex-direction: column;
    position: relative;
}

.pilares .alia{
    height: 100vh;
    background-color: aqua;
}

.pilares .valo{
    height: 100vh;
    background-color: skyblue;
}

.pilares .estra{
    height: 100vh;
    background-color: darkcyan;
}
    
.pilares .foda{
    height: 100vh;
    background-color: darkgray;
    
}
/* pilares */
/* cierre */
.cierre{
    display: none; 
}

.cierre.show{
    display: flex;
    flex-direction: column;
    position: relative;
}

.cierre .conclu{
    height: 100vh;
    background-color: darkred;
}

.cierre .agrad{
    height: 100vh;
    background-color: darkviolet;
}

.cierre .metAlc{
    height: 100vh;
    background-color: darkgoldenrod;
}
/* cierre */

/* zona en construccion */
.zonaCons{
    position: block;
    height: 100vh;
    background-color: rgb(19, 19, 19);
    align-content: center;
}

.zonaCons > div{
    position: absolute;
    left: 50%;
    color: white;
    transform: translateX(-50%) translateY(-50%);
}
.lucide-pencil-ruler{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* zona en construccion */

/* uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuwuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu */
/* uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuwuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu */
@media (max-width: 800px) {

    .etapaCon > p{
        font-size: 1.5em;
        text-align: justify;
    }

    .perso .contPers{
        flex-direction: column;
    }

    .contPers .pers{
        padding: 0;
    }
    .titPe > p{
        border: none;
    }
    

    
    .pers > p{
        font-size: 1.3em;
    }

    .met .conMet{
    flex-direction: column;
    }

    .sobreMi .bio{
        padding-bottom: 10%;
    }

    .lNom > h1{
        font-size: 5em;
    }

    .wrd > p{
        font-size: 1.2em;
    }
}


@media (max-width: 600px) {
    .menuBtn{
        height: 100%;
        width: 100px;
        font-size: 2em;
        display: block;
        position: absolute;
        top: 48%;
        margin: 0;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        padding: 0;

        transition: color 0.5s, font-size 0.5s;
    }

    .menuBtn:hover{
        color: darkgray;
        font-size: 2.5em;
    }

    header{
        height: 10vh;
    }

    header .indice{
        display: block;
    }

    .portada > div{
        position: absolute;
        height: 100vh;
        width: 100%;
        background: url("Assets/portadaNobedSQ.avif") no-repeat center/cover;
    }

    .miniLogo{
        bottom: 5vh;
        left: 5vh;
        max-height: 20vw;
    }
    .portada .infoPro{    
        font-size: 5vw;
        right: 10vw;
        bottom: 6vh;
    }

    .contenedorTit .titulo{
        font-size: 10vw;
    
        transform: translateY(-150%);
    }
    
    .contenedorTit .nombrecito{
        font-size: 1.5vw;
        letter-spacing: 2vw;
    
        transform: translateY(200%);
    }

    .categorias > li > button{
        width: 100%;
        height: 100%;
        font-size: 0.1em;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .categorias > li{
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        /* padding: 10px;
        margin: 10px; */
    }
    
    
    .categorias {
        opacity: 0;
        pointer-events: none;

        flex-direction: column;
        position: absolute;
        top: 80%;
        /* left: 70px; */
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        box-shadow: 0px 10px 20px black;
        backdrop-filter: blur(20px);

        transition: opacity 0.3s, top 0.3s;
    }

    .categorias.show {
        opacity: 1;
        top: 100%;

        pointer-events: auto;
    }
    .categorias.show > li > button{
        font-size: 1.5em;
    }

    .sobreMi .bio{
        flex-direction: column;
    }

    .bio .contenido{
        width: 100%;
    }

    .contenido .etapaCon{
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0.3));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0.3));

    }

    .etapaCon > p{
        font-size: 1.3em;
        text-align: justify;
    }

    .bio .botoAccion{
        flex-direction: row;
        margin: 0;
        margin-top: 5%;
        width: 100%;
        /* background-color: red; */
        justify-content: center;
    }

    .botoAccion > button{
        font-size: 7em;
        margin: 0;
        /* background-color: brown; */
    }

    .botoAccion .BioButt1{
        transform: translateX(100%) rotate(90deg);
    }
    .botoAccion .BioButt2{
        transform: translateX(-100%) rotate(-90deg);
    }

    .perso .contPers{
        flex-direction: column;
    }

    .contPers .pers{
        padding: 0;
    }
    .titPe > p{
        border: none;
        font-size: 2em;
    }

    .pers > p{
        font-size: 1.15em;
    }

    .metas .met{
        padding-top: 100px;
    }

    .met .conMet{
        flex-direction: column;
    }

    .secMet > p{
        font-size: 1.4em;
    }

    .sobreMi .acros{
        flex-direction: column;
        padding: 2.5%;
    }

    .acros .lNom{
        flex-direction: row;
        justify-content: center;
    }

    .lNom > h1{
        transform: translateY(-30%);
        margin-right: 5%;
        /* text-align: center; */
    }

    .lNom .wrd{
        flex-direction: column;
        justify-content: center;
    }

    .wrd > p{
        writing-mode: horizontal-tb;
        margin: 1%;
    }
}

